<mat-toolbar color="accent">
  <div fxLayout="row column" fxLayoutAlign="center center">
    <img src="../../assets/walking.png" class="task">
    <span>Task</span>
  </div>
</mat-toolbar>
<div *ngIf="myList.length <=0">
  <h4>Your Task List Is Empty</h4>
</div>
<div *ngFor="let l of myList; let ind=index;" margin="10px">
  <mat-card fxLayout="row column" fxLayoutAlign="space-between center" fxFlex="grow">
    <div>
      <mat-card-title>
      {{l.description}}
    </mat-card-title>
    <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between">
      <span>{{l.priority}}</span>
      <span>{{l.due}}</span>
    </mat-card-subtitle>
    </div>
    <mat-card-actions fxLayout="column row" fxLayoutGap="1vw" fxLayoutAlign="center center">
      <button class="custombutton" mat-raised-button color="accent" (click)=deleteTask(ind)>Delete</button>
      <button class="custombutton" mat-raised-button color="accent" (click)=finishTask(ind)>Mark Complete</button>
    </mat-card-actions>
  </mat-card>
</div>